/* "Jeu" */
.playground {
    width: 400px;
    height: 400px;
    background-image: radial-gradient(circle at center, green, lightgreen);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 4px solid green;
    box-shadow: 0 0 1.25rem darkgreen;
    border-radius: 20px;
    position: relative;
    max-width: 100%;
    aspect-ratio: 1 / 1;
}

.playground::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/infos.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.movable-box {
    width: 4%;
    height: 4%;
    background-color: orange;
    border: 2px solid black;
    box-shadow: 0 0 1rem gold;
    border-radius: 5px;
    position: absolute;
}

/* Infos */
.info-box {
    width: 680px;
    height: 320px;
    border-radius: 20px;
    padding: 10px;
    background-image: linear-gradient(to bottom, 
    #FFC107,
    #FF9900,
    #FF6600,
    #FF0000,
    #660033);
    border: 2px solid rgb(189, 51, 0);
    border-radius: 20px;
    box-shadow: 0 0 1.25rem rgb(189, 51, 0);
    color: white;
    overflow-y: auto;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
    opacity: 1;
    visibility: visible;
    max-width: 100%;
}

.info-box.hidden {
    opacity: 0;
    visibility: hidden;
}

.info-box > div {
    margin-bottom: 10px;
}

.info-box h4 {
    margin-top: 0;
}

.info-box p {
    margin-bottom: 0;
}

/* Exception : infos cartes */
.info-box-alt {
    width: 680px;
    border-radius: 20px;
    padding: 10px;
    background-image: linear-gradient(to bottom, 
    #FFC107,
    #FF9900,
    #FF6600,
    #FF0000,
    #660033);
    border: 2px solid rgb(189, 51, 0);
    border-radius: 20px;
    box-shadow: 0 0 1.25rem rgb(189, 51, 0);
    color: white;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
    opacity: 1;
    visibility: visible;
    max-width: 100%;
}

.info-box-alt.hidden {
    opacity: 0;
    visibility: hidden;
}