/* Apparence */
@font-face {
    font-family: 'undertale';
    src: url('../undertale.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'undertale', Arial, sans-serif;
    color: white;
    background-image: linear-gradient(to top, darkblue, blue, skyblue);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow: auto;
}

/* Utilitaire */
.align {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.page-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    gap: 8px;
}

.page-center > * {
    margin-bottom: 0px;
}

img {
    width: 20px;
    height: 20px;
    border-radius: 15px;
}
